.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode
*.orig
.idea

/bak
/resources
/resources*
/networks
/benchmarks
/logs
/notebooks
/data
/cutouts
/tmp
doc/_build

/scripts/old
/scripts/create_scenarios.py
/config/create_scenarios.py

config/config.yaml
config/scenarios.yaml

config.yaml
config/config.yaml

dconf
/data/links_p_nom.csv
/data/*totals.csv
/data/biomass*
/data/bundle/emobility/
/data/bundle/eea*
/data/bundle/jrc*
/data/heating/
/data/bundle/eurostat*
/data/odyssee/
/data/transport_data.csv
/data/.nfs*
/data/retro/*
/data/bundle/nuts*
data/gas_network/scigrid-gas/
data/costs_*.csv

dask-worker-space/
publications.jrc.ec.europa.eu/
d1gam3xoknrgr2.cloudfront.net/

*.org

*.nc

*~

*.pyc

*.xlsx

*.xls

*.geojson

*.ipynb

merger-todos.md

*.html

pypsa-eur-fus/results
pypsa-eur-fus/config

config_archive/
config_thesis/
config_update/
cost_files/
cost_files_thesis/
cost_files_update/
gurobi_licenses/
resources/
results_archive/
results_antbau/
results_thesis/
results_update/
results_vFinal/
results_marvel/
slurm*/
.snakemake/
logs/
output_analysis/
envs/
benchmarks/
bundle/
eez/
eurostat/
gas_network/
gem/
jrc-idees-2021/
naturalearth/
nuts/
osm-prebuilt/
worldbank/
data/